.TrainingsHeadButtonActive {
	&:after {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: 3px;
		background-color: black;
	}
}

.TrainingsBodyButtonActive {
	font-weight: bold;

	&:after {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: 2px;
		background-color: black;
	}
}
