.wrapper {
	display: grid;

	@media (max-width: 439px) {
		grid-template-columns: 1fr;
		justify-items: center;
	}

	@media (min-width: 440px) {
		grid-template-columns: repeat(2, minmax(min-content, 1fr));
	}

	@media (min-width: 768px) {
		grid-template-columns: repeat(4, minmax(min-content, 1fr));
		justify-content: space-between;
	}
}
